@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello Check</h1>
@*<p>Connection string : @_connectionString</p>*@
<p>Cann connect?: mal gucken</p>

@*
<p>Status: @_status</p>

<button class="btn btn-primary" @onclick="CreateProduct">Click me to run Create a Product</button>
<ul>

@foreach(var product in _products)
{
    <li>@product.Id @product.Name</li> 
}
</ul>
*@