@page "/construction"

<h3>Wir ziehen um!</h3>

<iframe src="https://giphy.com/embed/fVeAI9dyD5ssIFyOyM" width="480" height="360" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

   <MudAlert Class="mt-4" Severity="Severity.Info">
       Check die Preise! <br/>
    Die Datenbank muss umziehen. Die Azure SQL Datenbank ist für dieses OpenSource-Projekt einfach zu teuer. Ohne Datenbank keine Daten! Ich baue um und bitte um Geduld :-) <MudIconButton Href="mailto:hallo@sebastianchristoph.com" Icon="@Icons.Material.Filled.Email" Color="Color.Inherit" Edge="Edge.End" />

   </MudAlert>


@code {
    
}
